@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
  margin:0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.green{
    color: #88C8BC;
  }
  .img1{
    background: url('./images/slide-01.jpg');
    background-size: cover ;
    width:"100%";
    background-position: center center;
    height: 800px;
  }
  .img2{
    background: url('./images/slide-02.jpg');
    background-size: cover;
    width:"100%";
    background-position: center  center;
    height: 800px;
  }
  
  .img3{
    background: url('./images/slide-03.jpg');
    background-size: cover;
    width:"100%";
    background-position: center;
    height: 800px;
  }
  .banner1{
    background: url('./images/banner-01.jpg');
    background-size: cover;
    width:"100%";
    background-position: center  center;
    height: 250px;
  }

  .banner2{
    background: url('./images/banner-02.jpg');
    background-size: cover;
    width:"100%";
    background-position: center  center;
    height: 250px;
  }

  .banner3{
    background: url('./images/banner-03.jpg');
    background-size: cover;
    width:"100%";
    background-position: center  center;
    height: 250px;
  }

  .aboutBanner{
    background: url('./images/bg-01.jpg');
    background-size: cover;
    width:"100%";
    background-position: center  center;
    height: 250px;
    
  }
  .pa:hover{

    transform: scale(1.1);
  }

  .about1{
    background: url('./images/about-01.jpg');
    background-size: cover;
    width:"50%";
    background-position: center center;
    height: 100%;
    transition: all 1s;
  }


